NEXT_PUBLIC_SUPABASE_URL=https://rxvpxsoadadbodfskhky.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_wY_-9nwOVbM9bUHmkG-Osw_lSG3VqEk
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4dnB4c29hZGFkYm9kZnNraGt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NDUxNDcsImV4cCI6MjEwMDMyMTE0N30.U22W_YDiphJ0LsRbdHPWtvHGINp3BeEFMmsZ0UFCcSc
SUPABASE_URL=https://rxvpxsoadadbodfskhky.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4dnB4c29hZGFkYm9kZnNraGt5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc0NTE0NywiZXhwIjoyMTAwMzIxMTQ3fQ.3QidpUOLNUOLUD3Cy3bUhd8Ee7rHlZgQh0vLVC_6aFQ
PAYSTACK_SECRET_KEY=sk_test_c5fb5ec49263d1132c006a3bea340143fcfd2f25
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY= pk_test_ba005f00455dc204a2460451190886622ec1b375

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key
NEXTAUTH_URL=http://localhost:3000
